.container {
  display: inline-block;
  width: 25%;
}

@media screen and (max-width: 860px) {
    .container {
        width: 33%;
    }
}

@media screen and (max-width: 550px) {
    .container {
        width: 50%;
    }
}

#gallery {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}

.image-background {
  display: none;
  height: 100%;
  opacity: 0.5;  
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
