#overlay {
  background: rgba(0,0,0, 0.5);
  bottom: 0;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#overlay img {
    max-height: 800px;
}

.box {
  height: 40px;
  right: 0;
  top: 0;
  width: 40px;
}

.frame-holder {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
}

.img-holder {  
  border: dashed white 2px;
}

.box::before {
  content: '\f057';
  font-family: awesomeFonts;
  font-size: 40px;
}

svg:hover {
  transition: transform 0.5s ease-in-out;
  transform: rotate(-90deg);
}

svg .path {
  fill: #828282;
}